{% load cms_tags sekizai_tags menu_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" media="all" />
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/formidabel.css" media="all" />

	<link href='http://fonts.googleapis.com/css?family=Oswald:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	{% render_block "css" %}
</head>
<body>
	{% cms_toolbar %}

	<div class="container">
		<div class="navbar navbar-fixed-top navbar-inverse">
			<div class="navbar-inner">
				<a class="brand" href="{% page_url 'site_root' %}" style="margin-left: 0">Formicidae-atlas</a>
				<ul class="nav">
					{% show_menu 0 100 100 100 "menu.html" %}
				</ul>	
			</div>	
		</div>

	
		<div class="row">
			<div class="span12">
				{% block base_content %}{% endblock %}
			</div>
		</div>
		<hr/>
	</div>		

	<script src="{{ STATIC_URL }}js/jquery-1.9.1.min.js" type="text/javascript"></script>
	<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
	{% render_block "js" %}
</body>
</html>