{% extends "base.html" %}
{% load cms_tags sekizai_tags %}

{% block base_content %}
{# Intro text can be configured in Django-CMS #}
{% placeholder base_content %}

<div id="ants_atlas">
	<h1>Atlas search</h1>
	
	<div class="well" id="aa-searchformcontainer">
		<form id="search" class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="species_id" style="text-align: left; width: 80px;"><b>Species:</b></label>
				<div class="controls" style="margin-left: 20px">
					<select id="species_id">
						{% for g in genus %}
						<optgroup label="{{ g.name }}">
							{% for s in g.species_set.all %}
							<option value="{{ s.pk }}">{{ s.scientificname }}</option>
							{% endfor %}
						</optgroup>
						{% endfor %}
					</select>

					<input type="text" name="color_code" id="color_code" class="colorpicker input-mini"/>

					<button type="submit" class="btn btn-success" /><i class="icon-search icon-white"></i> Search</button>

					<span style="text-align: right; display: inline-block; width: 250px;"><a id="date_link" href="javascript: void(0)">Toggle date filters</a></span>
				</div>
			</div>

			<div style="display: none;" id="date_filters">

				<div class="control-group">
					<div class="controls">
						<div class="btn-group">
							<button data-datestart="" data-dateend="01/01/1950" class="btn date_preset">Before 1950</button>
							<button data-datestart="01/01/1950" data-dateend="12/31/1980" class="btn date_preset">1950-1980</button>
							<button data-datestart="01/01/1981" data-dateend="" class="btn date_preset">After 1980</button>
						</div>
					</div>
				</div>
				
				<div class="control-group">
					<label class="control-label" for="min_date">After: </label>
					<div class="controls"><input class="input-small date" type="text" name="min_date" id="min_date" /></div>
				</div>

				<div class="control-group">
					<label class="control-label" for="max_date">Before: </label>
					<div class="controls"><input class="input-small date" type="text" name="max_date" id="max_date" /></div>
				</div>
			</div>

		</form>
	</div>

	{# We need to position aa-layerslist absolutely within. #}
	<div class="row" style="position: relative;">

		<div class="span3" id="aa-layerslist">
				<h3>Searches</h3>
				<div id="aa-layerslist-inner">
					<table class="table table-striped" id="search_list"></table>
				</div>	
		</div>

		<div class="span12" id="map"></div>

	</div>

	{# Templates #}
	<script type="text/html" id="layerListEntry">
			// TR added by view
			<td><span class="badge badge-info"><%= occurrences_count %></span></td>
			<td>
			<strong><%= species_name %></strong>

			<small>
			<ul>
			<% _.each(_.pairs(filters), function(filter) { %>
				<% if (filter[1]){ %>
					<li>
					<% var label;

					switch(filter[0]) {
						case 'min_date': label = 'After'; break
						case 'max_date': label = 'Before'; break
						default: label=filter[0]  
					}
					%>

					<%= label %>

					<%  var curr_date = filter[1].getDate();
    								var curr_month = filter[1].getMonth() + 1; //Months are zero based
    								var curr_year = filter[1].getFullYear(); %>
    								<%= curr_date + "/" + curr_month + "/" + curr_year %>

    								</li>
    								<% } %>	 
    								<% }); %>
			</ul>
			</small>
			
			</td>
			<td><i class="icon-trash remove"></i></td>
			</script>

			<script type="text/html" id="mapPopupContent">
			<div>
			<h3><%= square_id %></h3> 
			<%= occ_counter %> occurrence(s) for <%= species_name %>.
			</div>
			</script>

		</div>

		{% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}ants_atlas/js/underscore-min.js"></script>{% endaddtoblock %}
		{% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}ants_atlas/js/backbone-min.js"></script>{% endaddtoblock %}

		{% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}js/backbone-tastypie.js"></script>{% endaddtoblock %}

		{# Use version https://github.com/xaguilars/bootstrap-colorpicker because the original one has issues and is not mainained anymore. #}
		{% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}ants_atlas/js/bootstrap-colorpicker.js"></script>{% endaddtoblock %}

		{% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}ants_atlas/js/ants_atlas.js"></script>{% endaddtoblock %}
		{% addtoblock "js" %}

		{% addtoblock "css" %}
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" /><![endif]-->
		{% endaddtoblock %}

		{% addtoblock "css" %}
		<link rel="stylesheet" href="{{ STATIC_URL }}ants_atlas/css/bootstrap-colorpicker.css" />
		{% endaddtoblock %}

		{% addtoblock "css" %}
		<link rel="stylesheet" href="{{ STATIC_URL }}ants_atlas/css/smoothness/jquery-ui-1.10.1.custom.min.css" />
		{% endaddtoblock %}

		{% addtoblock "css" %}
		<link rel="stylesheet" href="{{ STATIC_URL }}ants_atlas/css/ants_atlas.css" />
		{% endaddtoblock %}

		{% addtoblock "js" %}
		<script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
		{% endaddtoblock %}

		{% addtoblock "js" %}
		<script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>
		{% endaddtoblock %}	

		{% addtoblock "js" %}
		<script src="{{ STATIC_URL }}ants_atlas/js/leaflet-plugins/Google.js"></script>
		{% endaddtoblock %}

		{% addtoblock "js" %}
		<script src="{{ STATIC_URL }}ants_atlas/js/jquery-ui-1.10.1.custom.min.js"></script>
		{% endaddtoblock %}

		{% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}ants_atlas/js/spin.min.js"></script>{% endaddtoblock %}

		{% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}ants_atlas/js/leaflet.spin.js"></script>{% endaddtoblock %}

		<script type="text/javascript">
		$(function(){
			// Practicalities: color picker, simple dom interactions, ...
			$('.colorpicker').colorpicker();

			$('.date').datepicker();

			$("#date_link").click(function(){
				$("#date_filters").toggle('slow');
			});

			$("button.date_preset").click(function(){
				$('#min_date').val($(this).attr('data-datestart'));
				$('#max_date').val($(this).attr('data-dateend'));
				return false; // Prevent form submission
			});

			var app_options = {
				dom: {
					main_container: $('#ants_atlas')
				},

				squares_source_url: '{{ STATIC_URL }}ants_atlas/js/utm5.json',
				species_api_url: '{% url api_dispatch_list resource_name="species" api_name="v1" %}', /* /api/v1/species/ */

				'map_options':  {
					search_color_presets: [
					{% for c in config.search_color_presets %}
					'{{ c }}' {% if not forloop.last %},{% endif %}
					{% endfor %}
					],

					overlays: {
						{% for k,v in config.map_overlays.items %}
						'{{ k }}': L.tileLayer.wms("{{ v.url }}", {
							layers: '{{ v.layers }}'
							,format: 'image/png'
							,transparent: true
							{% if v.cql_filter %}
							,cql_filter: '{{ v.cql_filter }}'
							{% endif %}
							{% if v.styles %}
							,styles: '{{ v.styles }}'
							{% endif %}

						}) {% if not forloop.last %},{% endif %}
						{% endfor %}
					},

					cloudmade_api_key: "{{ config.cloudmade.api_key }}",
					cloudmade_style_id: "{{ config.cloudmade.style_id }}",

					initial_location: [{{ config.initial_lat }}, {{ config.initial_lon }}],
					initial_zoom: {{ config.initial_zoom }},
					attribution: {% autoescape off %}'{{ config.cloudmade.attribution }}'{% endautoescape %},
					max_zoom: {{ config.max_zoom }}
				}
			};

			window._formidabel.atlas.bootstrap(app_options);
		});
</script>

{% endaddtoblock %}
{% endblock %}	