{% extends "base.html" %}
{% load cms_tags sekizai_tags %}

{% block base_content %}
	{# Intro text can be configured in Django-CMS #}
	{% placeholder base_content %}

	<div id="ants_atlas">
		<h1>Species map</h1>

		<form id="search">
			<input type="text" name="species_id" id="species_id" />
			<input type="submit" value="search" />
		</form>

		<div id="search_list">
		</div>

		 <div style="width: 800px; height: 600px;" id="map"></div>
	</div>

	{% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}ants_atlas/js/underscore-min.js"></script>{% endaddtoblock %}
	{% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}ants_atlas/js/backbone-min.js"></script>{% endaddtoblock %}

	{% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}js/backbone-tastypie.js"></script>{% endaddtoblock %}
	{% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}ants_atlas/js/ants_atlas.js"></script>{% endaddtoblock %}
	{% addtoblock "js" %}

	{% addtoblock "css" %}
		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.ie.css" /><![endif]-->
	{% endaddtoblock %}

	{% addtoblock "js" %}
		<script src="http://cdn.leafletjs.com/leaflet-0.5.1/leaflet.js"></script>
	{% endaddtoblock %}

	<script type="text/javascript">
	$(function(){

		window._formidabel.atlas.bootstrap($('#ants_atlas'), {
			// TODO: Move to settings.py
			cloudmade_api_key:"16534950d4b44d358c7963355dc57dc6",
			cloudmade_style_id: 1930,
			initial_location: [50.8333, 4],
			initial_zoom: 8,
			attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
			max_zoom: 18
		});
		
	});
	</script>

	{% endaddtoblock %}
{% endblock %}	